body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.nav-bar {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.comp-name {
  display: block;
  align-self: left;
  
}
.myshops-link{ 
  position: relative;
  align-self: center;
  color: white;
  

}
.dubi-info{
  font-size: calc(8px + 2vmin);
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 150px;

}
.create-store-btn{
  width:max-content;
  height:70px;
  margin-top: 300px;
  background-color:  #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.App-link {
  color: #61dafb;
}
.create-header{
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin-top: 50px;
}
.form-container input{
  width: 40%;
  padding: 12px 20px;
  margin-left: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;

}
.form-container select {
  width: 40%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding-left:10px ;
  padding-right: 10px;
}
.form-container button{
  width:max-content;
  height:50px;
  margin-top: 300px;
  background-color:  #282c34;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;

}
.shop-container{
  border-radius: 10px;
  border: solid black 2px;
  width: 200px;
  margin: 5px;
  align-self: center;
}
.product-container{
  border-radius: 10px;
  border: solid black 2px;
  width: 200px;
  margin: 5px;
  align-self: center;
}



.newproduct-container label{
    min-width: 100%;
  
}

.newproduct-container input{
    width: 30%;
    padding: 12px 20px;
    margin-left: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}



.newproduct-container button{
  width:max-content;
  height:50px;
  margin-top: 300px;
  background-color:  #282c34;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
}
.shop-products{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}
.add-new-product{
  
  background: url("./assets/plus.png") no-repeat 50% 50%;;
  color: #7070707c;
  background-size: contain;
  cursor: pointer;
  height:322px;
  width: 200px;
  border-radius: 10px;
  opacity: 80%;
  background-size: 70%;  
}
.all-products-container{
  display: flex;
  max-width: 80%;
}
.shops-container{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.new-shop-btn{
  background: url("./assets/plus.png") no-repeat 50% 50%;;
  color: #7070707c;
  background-size: contain;
  cursor: pointer;
  height:235px;
  width: 200px;
  border-radius: 10px;
  opacity: 80%;
  background-size: 70%;
}
.available-shops{
  display: flex;
  max-width: 80%;
}
.shop-container img {
  width:100px;
  height:100px;
}
.product-container img {
  width:150px;
  height:150px;
}



